body {
  color: #333;

  .navbar {
    li:not(.active) {
      a {
        color: #333;
      }
    }
  }

  .navbar-brand {
    color: #683bb7 !important;
    font-weight: bold;
    font-size: 2rem;
  }
}

/* Phoenix flash messages */
.alert:empty { display: none;  }

.clickable { cursor: pointer; }


