body {
  color: #333;

  .navbar {
    li {
      a {
        color: #333;
        font-weight: 500;

        &:focus, &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .navbar-brand {
    font-weight: bold;
    font-size: 2rem;
  }
}

/* Phoenix flash messages */
.alert:empty { display: none;  }

.clickable { cursor: pointer; }


