body {
  color: #333;

  .navbar {
    li {
      a {
        color: #333;
        font-weight: 500;
        font-size: 1.4rem;

        &:focus, &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .navbar-brand {
    font-size: 2.6rem;
  }

  .empty-text {
    font-size: 4rem;
  }

  .card-img-top {
    max-height: 400px;
  }

  .one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card {
    .card-title.schedule-title {
      font-size: 1.2rem;
    }

    &.movie-card-item {
      cursor: pointer;
    }
  }
}

/* Phoenix flash messages */
.alert:empty { display: none;  }

.clickable { cursor: pointer; }


