body {
  color: #333;

  .navbar {
    li {
      a {
        color: #333;
        font-weight: 500;
        font-size: 1.4rem;

        &:focus, &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .navbar-brand {
    font-size: 2.6rem;
  }

  .empty-text {
    font-size: 4rem;
  }

  .card-img-top {
    max-height: 400px;
  }

  .one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .schedule-item {
    @extend .card;
    @extend .mb-2;
    @extend .p-3;
  }

  .movie-card-item {
    @extend .card;
    @extend .col-sm-12;
    @extend .col-md-4;
    @extend .w-100;
    @extend .p-0;

    cursor: pointer;
    border: none;
    border-radius: 0rem;

    & > .main-link {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
    }

    & .card-img-top, .card-body {
      pointer-events: none;  /* IMPORTANT! Lets clicks fall through */
      position: relative;
      z-index: 10;         /* IMPORTANT! Makes actual content be on top of linked card */

      & .button, a {
          pointer-events: auto;    /* IMPORTANT! ... Except for buttons and links that should be clickable */
      }
    }
  }

  .card {
    border: none;
    border-radius: 0rem;


    .card-img-top {
      border-radius: 0px;
    }
  }

  .pointer {
    cursor: pointer;
  }
}

/* Phoenix flash messages */
.alert:empty { display: none;  }

.clickable { cursor: pointer; }


