/* This file is for your main application css. */

$purple: #683bb7;
$brand-primary: $purple;
$font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, sans-serif;
$font-family-base: $font-family-sans-serif;

@import "~bootstrap/scss/bootstrap";
@import "custom";

