<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Uk">
    <%= render_existing(@view_module, "meta." <> @view_template, assigns) ||
      render(Moview.Web.LayoutView, "meta.html", assigns) %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68883437-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-68883437-1');
    </script>
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <nav class="navbar navbar-toggleable-sm navbar-light bg-light">
      <a class="navbar-brand text-primary font-weight-bold" href="<%= home_link(@conn) %>">moview</a>
      <button type="button" class="navbar-toggler navbar-toggler-right"
        aria-label="Toggle navigation" aria-controls="myNavbar" aria-expanded="false"
        data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="<%= cinemas_link(@conn) %>">Cinemas</a></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
